body {
    background-color: #377894;
    padding: 50px;
  }
  
  .post-page {
    .title {
      font-weight: 700, Bold;
      font-size: 48px;
      color: #ebebeb;
      text-align: center;
    }
  
    .divider {
      width: 180px;
      height: 5px;
      margin: 0 auto;
  
      background: #c4c4c4;
      border-radius: 5px;
    }
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
    margin-top: 80px;
    
  
    .card-box {
      width: 200px;
      height: 250px;
      background-color: white;
      border: 10px;
      margin: 60px 40px;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      .card-image {
        background-image: url("../../Assets/Default.jpg");
        height: 121px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .title {
        font-weight: 500;
        font-size: 16px;
        color: black;
        text-align: center;
      }
      .desc {
        text-align: center;
        font-weight: 500;
        padding: 20px;
        font-size: 10px;
        line-height: 12px;
        color: #515151;
      }
    }
  }